<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="d-flex p-3 w-100 flex-row justify-content-around">
    <!-- card pedidos-->
    <div class="shadow-sm col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-cinza-claro m-2">
            <i class="fa-xl fa-solid m-1 fa-copy color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
           <%= pedidos.length %>
        </b>
        <span class="fs-5">
            Pedidos
        </span>
    </div>
    <!-- card referencais -->
    <div class="shadow-sm col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-amarelo-claro ">
            <i class="fa-xl fa-solid m-1 fa-shirt color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            <%= referencias.length %>
        </b>
        <span class="fs-5">
            Referências
        </span>
    </div>
    <!-- card Pendentes -->
    <div class="shadow-sm col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-vermelho-claro m-2">
            <i class="fa-xl fa-solid m-1 fa-pause color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            <%= pedidos.filter( e => e.situacao == "pendente").length %> 
        </b>
        <span class="fs-5">
            Pendentes
        </span>
    </div>
</div>
<div class="d-flex p-3 w-100 flex-row justify-content-around">
    <!-- card pedidos-->
    <div class="shadow-sm col-5 d-flex flex-column align-items-center border-5 bg-white p-3">
        <canvas id="ctx_pedidos_regiao" width="100%" height="100%"></canvas>
    </div>
    <!-- card referencais -->
    <div class="shadow-sm col-5 d-flex flex-column align-items-center border-5 bg-white p-3">
        <canvas class="p-1" id="ctx_pedidos_situacao" width="100%" height="10%"></canvas>
    </div>

</div>
<script type="text/javascript">
    //variaveis passadas pelo back, dessa forma para o ejs renderizar
    let pedidos = JSON.parse('<%- JSON.stringify(pedidos) %>')
    let referencias = JSON.parse('<%- JSON.stringify(referencias) %>')
</script>
<script type="module" src="/dashboard/script_dashboard.js"></script>
